<img src="images/usm.jpg" width="480" height="240" align="left"/>

# MAT281 - Laboratorio N°03

## Objetivos de la clase

* Reforzar los conceptos básicos de pandas.

## Contenidos

* [Problema 01](#p1)

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información tal como: edad ,sexo, profesión, etc.

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [1]:
import pandas as pd
import os

In [2]:
# cargar datos
df = pd.read_csv(os.path.join("data","ocupation.csv"), sep="|").set_index('user_id')
df.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. ¿Cuál es el número de observaciones en el conjunto de datos?

In [4]:
# se multiplican las dimensiones
obs = 1
for i in range(len(df.shape)):
    obs = obs*df.shape[i]
print("Numero de observaciones:")
print(obs)

Numero de observaciones:
3772

2. ¿Cuál es el número de columnas en el conjunto de datos?

In [7]:
print("Numero de columnas del DataFrame:")
print(len(df.columns))

Numero de columnas del DataFrame:
4

3. Imprime el nombre de todas las columnas

In [9]:
print("Columnas: "+str(df.columns))

Columnas: Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

4. Imprima el índice del dataframe

In [12]:
print("Indice: "+str(df.index))

Indice: Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

5. ¿Cuál es el tipo de datos de cada columna?

In [16]:
print("Tipo de cada columna:\n")
print(df.dtypes)

Tipo de cada columna:

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6. Resumir el conjunto de datos

In [20]:
# descripcion de todo el conjunto de datos
df.describe(include='all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

7. Resume conjunto de datos  con todas las columnas

In [37]:
# descripcion por separado de todas las columnas
df.describe

<bound method NDFrame.describe of          age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]>

8. Imprimir solo la columna de **occupation**.

In [17]:
# se imprime la columna occupation
df['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

9. ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [64]:
print("La cantidad de ocupaciones diferentes en el conjunto de datos es: "+str(len(df['occupation'].unique())))

La cantidad de ocupaciones diferentes en el conjunto de datos es: 21

10. ¿Cuál es la ocupación más frecuente?

In [65]:
print("La ocupacion mas frecuente es:\n"+str(df.describe(include='all')[["occupation"]].loc["top"]))

La ocupacion mas frecuente es:
occupation    student
Name: top, dtype: object

11. ¿Cuál es la edad media de los usuarios?

In [24]:
print("La edad media de los jugadores es: "+str(df['age'].mean()))

La edad media de los jugadores es: 34.05196182396607

12. ¿Cuál es la edad con menos ocurrencia?

In [81]:
mask = df['age'].value_counts().min()==df['age'].value_counts()
print("Las edades con menos ocurrencia son:\n"+str(sorted(df['age'].value_counts()[mask].index.tolist())))

Las edades con menos ocurrencia son:
[7, 10, 11, 66, 73]